<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Adding%2C_dropping_columns_%26_rows_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                          Adding, dropping columns & rows

Adding Status column to DataFrame

In [2]:
from google.colab import files
uploaded = files.upload()

Saving sales8.csv to sales8.csv

In [3]:
import pandas as pd

df = pd.read_csv("sales8.csv")

df['Status'] = "Delivered"
print(df.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity     Status
0         65999         1  Delivered
1         63000         2  Delivered
2         75999         1  Delivered
3         60000         2  Delivered
4         69999         3  Delivered

Adding Total cost column to DataFrame

In [5]:
import pandas as pd

df = pd.read_csv("sales8.csv")

df["Total Cost"] = df['Product cost']*df['Quantity']

print(df.head(5))

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity  Total Cost
0         65999         1       65999
1         63000         2      126000
2         75999         1       75999
3         60000         2      120000
4         69999         3      209997

apply method:

In [4]:
import pandas as pd

df = pd.read_csv('sales8.csv')

def total(df):
  t = df['Product cost'] * df['Quantity']
  return t

df['Total cost'] = df.apply(total, axis = 1)

print(df.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity  Total cost
0         65999         1       65999
1         63000         2      126000
2         75999         1       75999
3         60000         2      120000
4         69999         3      209997

Program Adding total cost column to DataFrame in a specific position

In [6]:
import pandas as pd

df = pd.read_csv("sales8.csv")

print(df.head())

new = df['Product cost'] * df['Quantity']
df.insert(5,"Total Cost", new)

print()
print(df.head(5))

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
3         60000         2
4         69999         3

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Total Cost  Quantity
0         65999       65999         1
1         63000      126000         2
2         75999       75999         1
3         60000      120000         2
4         69999      209997         3

Dropping single columns:

In [10]:
import pandas as pd

df1 = pd.read_csv("sales8.csv")

df2 = df1.drop(columns = 'Customer name')

print(df1.head())
print()
print(df2.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
3         60000         2
4         69999         3

   Order Id  Customer Id                Product name  Product cost  Quantity
0    192837            3                   LG Mobile         65999         1
1    192838           19        Apple iPad 10.2-inch         63000         2
2    192839           12      34in Ultrawide Monitor         75999         1
3    192840           20                   iPhone 11         60000         2
4    192841           10  Bose SoundSport Headphones         69999         3

Dropping multiple columns

In [9]:
import pandas as pd

df1 = pd.read_csv("sales8.csv")

df2 = df1.drop(['Customer name', 'Product name'], axis = 1)

print(df1.head())
print()
print(df2.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
3         60000         2
4         69999         3

   Order Id  Customer Id  Product cost  Quantity
0    192837            3         65999         1
1    192838           19         63000         2
2    192839           12         75999         1
3    192840           20         60000         2
4    192841           10         69999         3

Dropping single row

In [8]:
import pandas as pd

df1 = pd.read_csv("sales8.csv")

df2 = df1.drop(3, axis = 0)

print(df1.head())
print()
print(df2.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
3         60000         2
4         69999         3

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
4    192841         Vinay           10  Bose SoundSport Headphones
5    192842         Vinay           10                20in Monitor

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
4         69999         3
5         65999         2

Dropping multiple rows

In [7]:
import pandas as pd

df1 = pd.read_csv("sales8.csv")
df2 = df1.drop([1, 2], axis = 0)

print(df1.head())
print()
print(df2.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity
0         65999         1
1         63000         2
2         75999         1
3         60000         2
4         69999         3

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones
5    192842         Vinay           10                20in Monitor
6    192843        Balaji           12                    iPhone 8

   Product cost  Quantity
0         65999         1
3         60000         2
4         69999         3
5         65999         2
6         55999         3