<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series Attributes :**

✓  Series is a predefined class.

✓ Series having different attributes.

✓ These attributes return information about the object.


*   dtypes
*   size
*   index
*   values

1)**dtypes :**

✓ dtypes is predefined attribute in Series class.

✓ We can access dtypes attribute by using series object.

✓ This attribute returns data type of series column.

In [11]:
import pandas as pd
data=pd.Series([1,2,3,4,5,6,7])
print(data.dtypes)

int64

2)**size :**

✓ size is predefined attribute in Series class.

✓ We can access size attribute by using series object.

✓ This attribute returns number of values in series.

In [10]:
import pandas as pd
data=pd.Series([5,6,7,8,9])
print(data.size)

5

3) **index :**

✓ index is predefined attribute in Series class.

✓ We can access index attribute by using series object.

✓ This attribute returns the index range like, RangeIndex(start=0, stop=6,
step=1)

In [7]:
import pandas as pd
data=pd.Series([10,20,30,40,50,60])
print(data.index)

RangeIndex(start=0, stop=6, step=1)

In [14]:
import pandas as pd
data=[10,20,30,40,50,60]
i=[100,200,300,400,500,600]
s=pd.Series(data,index=i)
print(s.index)

Index([100, 200, 300, 400, 500, 600], dtype='int64')

4) **values :**

✓ values is predefined attribute in Series class.

✓ We can access values attribute by using series object.

✓ This attribute returns the group of values as an array.

In [9]:
import pandas as pd
data=pd.Series([100,200,300,400,500])
print(data.values)

[100 200 300 400 500]