<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                    Concat

Concatenating one DataFrame to another DataFrame

In [1]:
import pandas as pd

d1 = [[11, 22], [33, 44]]
d2 = [[55, 66], [77, 88]]

c1 = ["A", "B"]

df1 = pd.DataFrame(d1, columns = c1)
df2 = pd.DataFrame(d2, columns = c1)

result = [df1, df2]

df3 = pd.concat(result)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88

    A   B
0  11  22
1  33  44
0  55  66
1  77  88

In [3]:
import pandas as pd

d1 = [[11, 22], [33, 44]]
d2 = [[55, 66], [77, 88]]

c1 = ["A", "B"]

df1 = pd.DataFrame(d1, columns = c1)
df2 = pd.DataFrame(d2, columns = c1)

result = [df1, df2]

df3 = pd.concat(result, ignore_index = True)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88

    A   B
0  11  22
1  33  44
2  55  66
3  77  88

In [2]:
import pandas as pd

d1 = [[11, 22], [33, 44]]
d2 = [[55, 66], [77, 88], [67, 99]]

c1 = ["A", "B"]

df1 = pd.DataFrame(d1, columns = c1)
df2 = pd.DataFrame(d2, columns = c1)

result = [df1, df2]

df3 = pd.concat(result)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88
2  67  99

    A   B
0  11  22
1  33  44
0  55  66
1  77  88
2  67  99

In [5]:
import pandas as pd

d1 = [[11, 22], [33, 44]]
d2 = [[55, 66], [77, 88]]

c1 = ["A", "B"]
c2 = ["X", "Y"]

df1 = pd.DataFrame(d1, columns = c1)
df2 = pd.DataFrame(d2, columns = c2)

result = [df1, df2]

df3 = pd.concat(result, axis = 1)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    X   Y
0  55  66
1  77  88

    A   B   X   Y
0  11  22  55  66
1  33  44  77  88

In [6]:

import pandas as pd

d1 = [[11, 22], [33, 44]]
d2 = [[55, 66], [77, 88], [65, 99]]

c1 = ["A", "B"]
c2 = ["X", "Y"]

df1 = pd.DataFrame(d1, columns = c1)
df2 = pd.DataFrame(d2, columns = c2)

result = [df1, df2]

df3 = pd.concat(result, axis = 1)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    X   Y
0  55  66
1  77  88
2  65  99

      A     B   X   Y
0  11.0  22.0  55  66
1  33.0  44.0  77  88
2   NaN   NaN  65  99