<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DataFrame :**

  ADataframeisatwo-dimensional data structure.

  Dataframeis just like a table.

  Dataframecontains rows and columns.

  DataFrameis apre-defined class in pandas library.

 Create DataFrame :

  Dataframeisapredefined class in pandas

  WecancreateDataFramein different ways like below,

 1. Empty DataFrame

 2. Byusing single list

 3. Byusing nested list

 4. Byusing dictionary

1) Creating an Empty DataFrame:

 An empty DataFrame has no data and no columns.It is useful when you want to add data
 later.

In [9]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

2. Create a DataFrame by using list:

  WecancreateDataFrameby using single list.

 * If we are single list then it’s a single column DataFrame

 * If we are using list of lists(nested lists) then it’s multiple columns

In [8]:
import pandas as pd
df=[1,2,3,4,5,6]
s=pd.DataFrame(df)
print(s)

   0
0  1
1  2
2  3
3  4
4  5
5  6

3. Creating a DataFrame by using list of lists:

  WecancreateDataFrame with list of lists (nested list).

  Ifweareusing list of lists then it create a DataFrame with multiple
 columns.

In [7]:
import pandas as pd
df=[[10,20,30,40,50,60],[70,80,90,100,110,120]]
s=pd.DataFrame(df)
print(s)

    0   1   2    3    4    5
0  10  20  30   40   50   60
1  70  80  90  100  110  120

4. Creating a DataFrame by using dictionary:
  WecancreateDataFrame with list of lists (nested list).

  Ifweareusing list of lists then it create a DataFrame with multiple
 columns.

In [10]:
import pandas as pd
student_data={"name":["karthik","jyoshna","sai","ramu","sita","john","jack"],
              "age":[21,17,23,27,22,25,26],
              "marks":[70,100,60,80,100,90,85],
              "dept":["AIML","PHARMACY","CIVIL","DS","ML","AI","CSE"]}
df=pd.DataFrame(student_data)
print(df)

      name  age  marks      dept
0  karthik   21     70      AIML
1  jyoshna   17    100  PHARMACY
2      sai   23     60     CIVIL
3     ramu   27     80        DS
4     sita   22    100        ML
5     john   25     90        AI
6     jack   26     85       CSE