<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Date_and_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                        Pandas – DataFrame - Date and time

Date data type:

 Whenever we load csv file, if that file contains any column having date
values then by default pandas will consider that column as object

 We can provide parse_dates = ['name of the column1', 'name of the
column2'] then pandas considered those columns as datetime data type

Program Creating DataFrames:

In [1]:
from google.colab import files
uploaded = files.upload()

Saving sales7_dates.csv to sales7_dates.csv

In [2]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv')

print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost       Pur_Date
0         59000  1/1/2019 0:00
1         69000  1/1/2019 1:00
2         65999  1/1/2019 2:00
3         63999  1/1/2019 3:00
4         63999  1/1/2019 4:00

Order_Id          int64
Customer_Name    object
Customer_Id       int64
Product_Name     object
Product_Cost      int64
Pur_Date         object
dtype: object

Loading csv file by using parse_dates paramter:

Loading csv file by using parse_dates paramter

In [3]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

Converting object data type into date data type:

 We can convert from object data type into datetime data type
explicitely.

 By using,

o to_datetime(p) function

o astype(p) method in Series

2.1. to_datetime(p):

 to_datetime(p) is predefined function in pandas

 This function we should access by using pandas library.

 This function convert from object data type into date data type.

Program Loading csv file and converting Pur_Date column into Date format:

In [5]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv')

df['Pur_Date'] = pd.to_datetime(df['Pur_Date'])

print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

 astype (p):

 astype(p) is predefined method Series class

 This method we should access by using Series object only

 This method convert from object data type into datetime data type.

Program Loading csv file and converting Pur_Date column into Date format:

In [4]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv')

df['Pur_Date'] = df['Pur_Date'].astype('datetime64[ns]')

print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

Format parameter:

 We can represent the date formats in different ways,
o March 23rd, 2015 as "03-23-15" or "3|23|2015" and etc

 So, we can use the format parameter to specify the exact format of the
string.

Creating a DataFrame:

In [6]:
import pandas as pd

data = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902','20190913','20190921'],
}

df = pd.DataFrame(data)

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost   PurDate
0   Samsung  Success  10000  20190902
1    iPhone  Success  50000  20190913
2  Motorola   Failed  15000  20190921

Product    object
Status     object
Cost        int64
PurDate    object
dtype: object

Converting Date with specific format:

In [11]:
import pandas as pd

data = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902','20190913','20190921'],
}

df = pd.DataFrame(data)
df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

In [10]:
import pandas as pd


data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02092019','13092019','21092019'],
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'], format = '%d%m%Y')

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

In [9]:
import pandas as pd

data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02Sep2019','13Sep2019','21Sep2019'],
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'], format = '%d%b%Y')

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

In [8]:
import pandas as pd

data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02-Sep-2019','13-Sep-2019','21-Sep-2019'],
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

In [7]:
import pandas as pd

data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate":
['20190902093000','20190913093000','20190921200000'],
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost             PurDate
0   Samsung  Success  10000 2019-09-02 09:30:00
1    iPhone  Success  50000 2019-09-13 09:30:00
2  Motorola   Failed  15000 2019-09-21 20:00:00

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

NaT values:

 Date column may contains missing values in pandas DataFrame.

 If Date column contains missing values then while converting into Date
data type then we will get an error.

 By using errors = "coerce" keyword argument we can solve this problem.

 This argument converts Date column missing values into NaT (Not a
Time) values.

o Coerce errors i.e. convert un parse able date into NaT (Not a Time)


Program Creating DataFrame:

In [13]:
import pandas as pd

data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02-Sep-2019','Here date is missing','21-Sep2019']
}

df = pd.DataFrame(data)

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost               PurDate
0   Samsung  Success  10000           02-Sep-2019
1    iPhone  Success  50000  Here date is missing
2  Motorola   Failed  15000            21-Sep2019

Product    object
Status     object
Cost        int64
PurDate    object
dtype: object

Converting Date with specific format:  Error

In [14]:
import pandas as pd

data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02-Sep-2019','Here date is missing','21-Sep2019']
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df.dtypes)

ValueError: time data "Here date is missing" doesn't match format "%d-%b-%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

to_datetime(p) function

In [15]:
import pandas as pd
data = {
        "Product": ["Samsung", "iPhone", "Motorola"],
        "Status": ["Success", "Success", "Failed"],
        "Cost": [10000, 50000, 15000],
        "PurDate": ['02-Sep-2019','Here date is missing','21-Sep2019']
}

df = pd.DataFrame(data)

df['PurDate'] = pd.to_datetime(df['PurDate'], errors="coerce")

print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000        NaT
2  Motorola   Failed  15000        NaT

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

 Selecting from start to end date values:

 Based on requirement we can select specific dates, like
o Start date to end date


Program Selecting Dataframe in between the dates:

In [16]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates=['Pur_Date'])

start = df['Pur_Date'] > '2019-1-1 01:00:00'
end = df['Pur_Date'] < '2019-1-1 05:00:00'

result = df[start & end]

print(result)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Access specific dates like last 20 days or 2 months or 2 years records:

 Based on requirement we can get last 10 days, 20 days, 40 days, 1
month, 2 months, 3 months, 1 year and 2 years date data as well.

 We can also sort the dataframe by using sort_values()

Creating DataFrame:

In [17]:
import pandas as pd
df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])
print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Accessing last 10 days records:

In [18]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

new_df = df.set_index("Pur_Date")
days_10 = new_df.last("10D")

print(days_10)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2020-02-11 15:00:00     10782        Harsha            5
2020-02-11 16:00:00     10783         Veeru            3
2020-02-11 17:00:00     10784         Vinay           10
2020-02-11 18:00:00     10785  Jaya Chandra           21
2020-02-11 19:00:00     10786        Shahid           20
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2020-02-11 15:00:00              Google Phone         75000
2020-02-11 16:00:00              Google Phone         61000
2020-02-11 17:00:00    34in Ultrawide Monitor         69999
2020-02-11 18:00:00           ThinkPad Laptop         50000
2020-02-11 19:00:00                 iPhone 11         51999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[240 rows x 5 columns]

/tmp/ipython-input-624352252.py:6: FutureWarning: last is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  days_10 = new_df.last("10D")

Accessing last 1 month records :

In [19]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

new_df = df.set_index("Pur_Date")
month_1 = new_df.last("1M")

print(month_1)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2020-01-31 15:00:00     10518       Pradhan           17
2020-01-31 16:00:00     10519         Shafi           25
2020-01-31 17:00:00     10520         Veeru            3
2020-01-31 18:00:00     10521        Balaji           12
2020-01-31 19:00:00     10522       Pradhan           17
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2020-01-31 15:00:00    LG ThinQ Refrigerator          65999
2020-01-31 16:00:00        Samsung Galaxy S20         63000
2020-01-31 17:00:00    34in Ultrawide Monitor         59000
2020-01-31 18:00:00        Macbook Pro Laptop         50000
2020-01-31 19:00:00                 iPhone 7s         51999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[504 rows x 5 columns]

/tmp/ipython-input-343867562.py:6: FutureWarning: last is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  month_1 = new_df.last("1M")
/tmp/ipython-input-343867562.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  month_1 = new_df.last("1M")

Accessing last 1 year records:

In [20]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

new_df = df.set_index("Pur_Date")
year_1 = new_df.last("1Y")

print(year_1)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2019-12-31 15:00:00      9774         Veeru            3
2019-12-31 16:00:00      9775         Shafi           25
2019-12-31 17:00:00      9776        Shahid           20
2019-12-31 18:00:00      9777         Venki           15
2019-12-31 19:00:00      9778       Sumanth           22
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2019-12-31 15:00:00          27in FHD Monitor         65999
2019-12-31 16:00:00    27in 4K Gaming Monitor         65999
2019-12-31 17:00:00        Samsung Galaxy S20         50000
2019-12-31 18:00:00    27in 4K Gaming Monitor         50000
2019-12-31 19:00:00              Google Phone         65999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[1248 rows x 5 columns]

/tmp/ipython-input-3512463786.py:6: FutureWarning: last is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  year_1 = new_df.last("1Y")
/tmp/ipython-input-3512463786.py:6: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  year_1 = new_df.last("1Y")

 Extract year, month, day from Date column:

 Based on requirement we can get year, month, day, hour, minute from
Date column.

 Sometimes it can be useful to break up a column of dates into
components.


Program Breaking up the Date column value into multiple features :

In [21]:
import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

df['year'] = df['Pur_Date'].dt.year
df['month'] = df['Pur_Date'].dt.month
df['day'] = df['Pur_Date'].dt.day

print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date  year  month  day
0         59000 2019-01-01 00:00:00  2019      1    1
1         69000 2019-01-01 01:00:00  2019      1    1
2         65999 2019-01-01 02:00:00  2019      1    1
3         63999 2019-01-01 03:00:00  2019      1    1
4         63999 2019-01-01 04:00:00  2019      1    1

Program Breaking up the Date column value into multiple features:

In [22]:

import pandas as pd

df = pd.read_csv('sales7_dates.csv', parse_dates = ['Pur_Date'])

df['year'] = df['Pur_Date'].dt.year
df['month'] = df['Pur_Date'].dt.month
df['day'] = df['Pur_Date'].dt.day
df['hour'] = df['Pur_Date'].dt.hour
df['minute'] = df['Pur_Date'].dt.minute

print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date  year  month  day  hour  minute
0         59000 2019-01-01 00:00:00  2019      1    1     0       0
1         69000 2019-01-01 01:00:00  2019      1    1     1       0
2         65999 2019-01-01 02:00:00  2019      1    1     2       0
3         63999 2019-01-01 03:00:00  2019      1    1     3       0
4         63999 2019-01-01 04:00:00  2019      1    1     4       0

Encoding Days of the Week:

 We can get the day of the week for each date by using pandas
o Knowing the days names will helpful to understand the business
flow, like we can compare total sales on specific day for the past
three years.  


Program Encoding Days of the Week:

In [24]:
import pandas as pd

data = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['2018-01-01','2018-01-02','2018-01-03'],
}

df = pd.DataFrame(data)
df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df["PurDate"].dt.day_name())

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2018-01-01
1    iPhone  Success  50000 2018-01-02
2  Motorola   Failed  15000 2018-01-03

0       Monday
1      Tuesday
2    Wednesday
Name: PurDate, dtype: object

Program Encoding Days of the Week:

In [23]:
import pandas as pd

data = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['2018-01-01','2018-01-02','2018-01-03'],
}

df = pd.DataFrame(data)
df['PurDate'] = pd.to_datetime(df['PurDate'])

print(df.head())
print()
print(df['PurDate'].dt.weekday)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2018-01-01
1    iPhone  Success  50000 2018-01-02
2  Motorola   Failed  15000 2018-01-03

0    0
1    1
2    2
Name: PurDate, dtype: int32