<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Filtering_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                           Filtering

Filtering DataFrame by using relational operator: Single condition

In [5]:
from google.colab import files
uploaded = files.upload()

Saving sales4.csv to sales4 (1).csv

In [6]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

con1 = df1['Product_Cost']  > 65000
df2 = df1[con1]

print(df2)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
1           1024    Chaithanya           14                   iPhone 11
2           1025        Shahid           20  Bose SoundSport Headphones
11          1034         Tarun           11          Samsung Galaxy S20
13          1036    Chaithanya           14      LG ThinQ Refrigerator
17          1040       Sumanth           22                    iPhone 8
...          ...           ...          ...                         ...
299982    301005         Tarun           11          Samsung Galaxy S20
299983    301006         Shafi           25      27in 4K Gaming Monitor
299985    301008         Venki           15    Apple Airpods Headphones
299988    301011         Venki           15                Google Phone
299990    301013        Balaji           12                   iPhone 11

        Product_Cost
1              69000
2              65999
11             69999
13             69999
17             65999
...              ...
299982         69000
299983         69000
299985         65999
299988         65999
299990         65999

[112280 rows x 5 columns]

Filtering DataFrame by using relational operator: Multiple
conditions

In [7]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

con1 = df1['Product_Cost']  > 50000
con2 = df1['Product_Cost'] < 60000

df2 = df1[con1 & con2]

print(df2)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
0           1023         Venki           15          27in FHD Monitor
8           1031         Kedar            2              20in Monitor
12          1035         Kedar            2              Google Phone
14          1037    Nireekshan            1  Apple Airpods Headphones
22          1045       Lavanya           16                 iPhone 7s
...          ...           ...          ...                       ...
299993    301016        Siddhu           18                  iPhone 9
299994    301017         Kedar            2           ThinkPad Laptop
299995    301018       Karteek            4      Apple iPad 10.2-inch
299996    301019         Veeru            3        Macbook Pro Laptop
299999    301022       Pradhan           17    34in Ultrawide Monitor

        Product_Cost
0              59000
8              55999
12             55999
14             55999
22             51999
...              ...
299993         59000
299994         55999
299995         51999
299996         51999
299999         55000

[74794 rows x 5 columns]

In [8]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

con1 = df1.Product_Name == "iPhone 11"
con2 = df1.Customer_Name == "Nireekshan"

df2 = df1[con1 & con2]

print(df2)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
821         1844    Nireekshan            1    iPhone 11         63999
1086        2109    Nireekshan            1    iPhone 11         65000
1529        2552    Nireekshan            1    iPhone 11         55000
1539        2562    Nireekshan            1    iPhone 11         61000
1676        2699    Nireekshan            1    iPhone 11         65000
...          ...           ...          ...          ...           ...
296768    297791    Nireekshan            1    iPhone 11         55000
297335    298358    Nireekshan            1    iPhone 11         63999
297717    298740    Nireekshan            1    iPhone 11         50000
297766    298789    Nireekshan            1    iPhone 11         55999
298524    299547    Nireekshan            1    iPhone 11         65999

[581 rows x 5 columns]

 Filtering by using loc and iloc:

In [9]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

con1 = df1.Product_Name == "iPhone 11"
con2 = df1.Customer_Name == "Shahid"

df2 = df1.loc[con1 & con2]

print(df2)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
26          1049        Shahid           20    iPhone 11         65999
783         1806        Shahid           20    iPhone 11         69000
1260        2283        Shahid           20    iPhone 11         69000
1834        2857        Shahid           20    iPhone 11         65999
1848        2871        Shahid           20    iPhone 11         69999
...          ...           ...          ...          ...           ...
298667    299690        Shahid           20    iPhone 11         65999
298969    299992        Shahid           20    iPhone 11         69000
299206    300229        Shahid           20    iPhone 11         65000
299691    300714        Shahid           20    iPhone 11         63999
299950    300973        Shahid           20    iPhone 11         75000

[594 rows x 5 columns]

In [10]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

rows = df1.index[0:4]
cols = ["Product_Name", "Customer_Id"]

df2 = df1.loc[rows, cols]

print(df2)

                 Product_Name  Customer_Id
0            27in FHD Monitor           15
1                   iPhone 11           14
2  Bose SoundSport Headphones           20
3        Apple iPad 10.2-inch            3

In [11]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

rows = df1.index[0:]
cols = ["Product_Name", "Customer_Id"]

df2 = df1.loc[rows, cols]

print(df2)

                      Product_Name  Customer_Id
0                 27in FHD Monitor           15
1                        iPhone 11           14
2       Bose SoundSport Headphones           20
3             Apple iPad 10.2-inch            3
4                     Google Phone           23
...                            ...          ...
299995        Apple iPad 10.2-inch            4
299996          Macbook Pro Laptop            3
299997          LG Washing Machine            5
299998                   LG Mobile            1
299999      34in Ultrawide Monitor           17

[300000 rows x 2 columns]

Selecting multiple values of a column

In [12]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

a = df1.Product_Name == "LG Washing Machine"
b = df1.Customer_Id == 1
c = a | b

df2 = df1.loc[c]

print(df2)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
9           1032       Neelima           19        LG Washing Machine
14          1037    Nireekshan            1  Apple Airpods Headphones
24          1047         Shafi           25        LG Washing Machine
28          1051       Lavanya           16        LG Washing Machine
39          1062         Tarun           11        LG Washing Machine
...          ...           ...          ...                       ...
299936    300959        Partha            8        LG Washing Machine
299937    300960    Nireekshan            1          27in FHD Monitor
299970    300993    Nireekshan            1                  iPhone 8
299997    301020        Harsha            5        LG Washing Machine
299998    301021    Nireekshan            1                 LG Mobile

        Product_Cost
9              63000
14             55999
24             63999
28             75000
39             61000
...              ...
299936         65999
299937         60000
299970         60000
299997         65000
299998         60000

[26278 rows x 5 columns]

 isin() method:

In [13]:
import pandas as pd

df1 = pd.read_csv("sales4.csv")

a = ["Macbook Pro Laptop"]

b = df1.Product_Name.isin(a)

df2 = df1[b]

print(df2)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
23          1046     Madhurima            7  Macbook Pro Laptop         50000
49          1072        Balaji           12  Macbook Pro Laptop         61000
56          1079         Tarun           11  Macbook Pro Laptop         75000
60          1083         Tarun           11  Macbook Pro Laptop         65999
85          1108         Vijay            9  Macbook Pro Laptop         59000
...          ...           ...          ...                 ...           ...
299906    300929        Partha            8  Macbook Pro Laptop         51999
299907    300930       Neelima           19  Macbook Pro Laptop         63000
299964    300987        Harsha            5  Macbook Pro Laptop         75000
299974    300997    Chaithanya           14  Macbook Pro Laptop         65999
299996    301019         Veeru            3  Macbook Pro Laptop         51999

[15144 rows x 5 columns]

 unique() function:

In [14]:
import pandas as pd

df = pd.read_csv("sales4.csv")

a = pd.unique(df.Product_Name)

print(a)
print(len(a))

['27in FHD Monitor' 'iPhone 11' 'Bose SoundSport Headphones'
 'Apple iPad 10.2-inch' 'Google Phone' 'Samsung Galaxy S9 Plus'
 '20in Monitor' 'LG Washing Machine' 'iPhone 7s' 'Samsung Galaxy S20'
 'LG ThinQ Refrigerator ' 'Apple Airpods Headphones' 'iPhone 8'
 'Macbook Pro Laptop' 'LG Mobile' 'ThinkPad Laptop' 'Flatscreen TV'
 '34in Ultrawide Monitor' 'iPhone 9' '27in 4K Gaming Monitor']
20