<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/Merging_or_Joining_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                    Merging or Joining

Creating two DataFrames

In [2]:
import pandas as pd

d1 = {
     "Id": [1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id": [11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

print(df1)
print()
print(df2)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

 1 Inner Join :

In [4]:
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

inn_join = pd.merge(df1, df2, on = "Subject", how = "inner")

print(df1)
print()
print(df2)
print()
print(inn_join)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

   Id_x      Name_x  Subject  Id_y   Name_y
0     2        Venu     Java    11    Srinu
1     3   Madhurima     Html    12  Sumanth
2     4  Nireekshan   Python    14   Daniel
3     5       Shafi        C    15    Arjun
4     6       Veeru  dot net    16    Veeru

2 Left Join :

In [6]:
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

left_join = pd.merge(df1, df2, on = "Subject", how = "left")

print(df1)
print()
print(df2)
print()
print(left_join)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

   Id_x      Name_x  Subject  Id_y   Name_y
0     1     Pradhan  English   NaN      NaN
1     2        Venu     Java  11.0    Srinu
2     3   Madhurima     Html  12.0  Sumanth
3     4  Nireekshan   Python  14.0   Daniel
4     5       Shafi        C  15.0    Arjun
5     6       Veeru  dot net  16.0    Veeru

3 Right Join :

In [7]:
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

right_join = pd.merge(df1, df2, on = "Subject", how = "right")

print(df1)
print()
print(df2)
print()
print(right_join)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

   Id_x      Name_x  Subject  Id_y   Name_y
0   2.0        Venu     Java    11    Srinu
1   3.0   Madhurima     Html    12  Sumanth
2   NaN         NaN      Cpp    13  Neelima
3   4.0  Nireekshan   Python    14   Daniel
4   5.0       Shafi        C    15    Arjun
5   6.0       Veeru  dot net    16    Veeru

4 Outer Join :

In [9]:
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

outer_join = pd.merge(df1, df2, on = "Subject", how = "outer")

print(df1)
print()
print(df2)
print()
print(outer_join)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

   Id_x      Name_x  Subject  Id_y   Name_y
0   5.0       Shafi        C  15.0    Arjun
1   NaN         NaN      Cpp  13.0  Neelima
2   1.0     Pradhan  English   NaN      NaN
3   3.0   Madhurima     Html  12.0  Sumanth
4   2.0        Venu     Java  11.0    Srinu
5   4.0  Nireekshan   Python  14.0   Daniel
6   6.0       Veeru  dot net  16.0    Veeru

 Other type of joins

 One to one

 Many to one

 Many to many

One to one

In [10]:

import pandas as pd

d1 = {
    "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan"],
    "Group": ["Development", "Testing", "Testing", "HR"]
}

d2 = {
    "Employee": ["Lavanya", "Nireekshan", "Veeru", "Pradhan"],
    "Hire_date": [2010, 2012, 2014, 2016]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

one_one = pd.merge(df1, df2)

print(df1)
print()
print(df2)
print()
print(one_one)

     Employee        Group
0  Nireekshan  Development
1       Veeru      Testing
2     Lavanya      Testing
3     Pradhan           HR

     Employee  Hire_date
0     Lavanya       2010
1  Nireekshan       2012
2       Veeru       2014
3     Pradhan       2016

     Employee        Group  Hire_date
0  Nireekshan  Development       2012
1       Veeru      Testing       2014
2     Lavanya      Testing       2010
3     Pradhan           HR       2016

Many to one

In [11]:
import pandas as pd

d1 = {
    "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan"],
    "Group": ["Development", "Testing", "Testing", "HR"]
}

d2 = {
    "Employee": ["Lavanya", "Nireekshan", "Veeru", "Pradhan"],
    "Hire_date": [2010, 2012, 2014, 2016]
}

d3 = {
    "Group": ["Testing", "Development", "HR"],
    "supervisor": ["Shafi", "Daniel", "Neelima"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)

one_one = pd.merge(df1, df2)

many_one = pd.merge(one_one, df3)

print(df1)
print()
print(df2)
print()
print(many_one)

     Employee        Group
0  Nireekshan  Development
1       Veeru      Testing
2     Lavanya      Testing
3     Pradhan           HR

     Employee  Hire_date
0     Lavanya       2010
1  Nireekshan       2012
2       Veeru       2014
3     Pradhan       2016

     Employee        Group  Hire_date supervisor
0  Nireekshan  Development       2012     Daniel
1       Veeru      Testing       2014      Shafi
2     Lavanya      Testing       2010      Shafi
3     Pradhan           HR       2016    Neelima

Many to many

In [12]:
import pandas as pd

d1 = {
        "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan"],
        "Group": ["Development", "Testing", "Testing", "HR"]
}

d2 = {
"Group": ["Testing", "Testing", "Development",
"Development", "HR", "HR"],
"Skills": ["Manual", "Automation", "Coding", "Logical",
"Spreadsheets", "Organization"]
}


df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

many_many = pd.merge(df1, df2)

print(df1)
print()
print(df2)
print()
print(many_many)

     Employee        Group
0  Nireekshan  Development
1       Veeru      Testing
2     Lavanya      Testing
3     Pradhan           HR

         Group        Skills
0      Testing        Manual
1      Testing    Automation
2  Development        Coding
3  Development       Logical
4           HR  Spreadsheets
5           HR  Organization

     Employee        Group        Skills
0  Nireekshan  Development        Coding
1  Nireekshan  Development       Logical
2       Veeru      Testing        Manual
3       Veeru      Testing    Automation
4     Lavanya      Testing        Manual
5     Lavanya      Testing    Automation
6     Pradhan           HR  Spreadsheets
7     Pradhan           HR  Organization

Merging two DataFrames based on column

In [ ]:
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot
net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

result = pd.merge(df1, df2, on = 'Subject')

print(df1)
print()
print(df2)
print()
print(result)

In [14]:
 import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
"Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
"Shafi", "Veeru"],
"Subject":["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
"Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun",
"Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

result = pd.merge(df1, df2, on=["Name", "Subject"])

print(df1)
print()
print(df2)
print()
print(result)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

   Id_x   Name  Subject  Id_y
0     6  Veeru  dot net    16