<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/NaN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NaN Value **:

*   The full form of NaN is Not a Number.
*   The purpose of NaN is, to represent the missing values in data.
*   The data type of NaN is float.
*   During data analysis we need to handle these NaN values.
*   These all are repressing to empty or missing data found in a Series,
DataFrame.

In [2]:
import pandas as pd
import numpy as np
marks = [36, 70, np.nan, 60]   # Creating Series with NaN values
s = pd.Series(marks)
print(s)

0    36.0
1    70.0
2     NaN
3    60.0
dtype: float64

In [3]:
import pandas as pd
import numpy as np
marks =["Daniel", "Ranjan", "Swathi", np.nan]   # Creating Series with NaN object
s = pd.Series(marks)
print(s)

0    Daniel
1    Ranjan
2    Swathi
3       NaN
dtype: object