<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SERIES:**

*  1D labeled array in Pandas

*  Building block of DataFrame

*  Can hold int, float, string, object, etc.

*   A Series has two main components:

  1.  Values → The actual data.

  2.  Index → Labels for each value (like row numbers, but customizable).

In [ ]:
import pandas as pd
data=pd.Series() # empty object
print(data)

Series([], dtype: object)

In [ ]:
import pandas as pd
data=(1,2,3,4,5) # creating Series object using tuple
data1=pd.Series(data)
print(data1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
data=[1,2,3,4,6,5] # creating Series object using list, assigning a name
data1=pd.Series(data,name='marks')
print(data1)

0    1
1    2
2    3
3    4
4    6
5    5
Name: marks, dtype: int64

In [ ]:
import pandas as pd
data=[1,2,3,4,5] # creating Series object using list
data1=pd.Series(data)
print(data1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
values=["john","jock","robo"] # creating Series object using list, assigning a name
data=pd.Series(values,name='students')
print(data)

0    john
1    jock
2    robo
Name: students, dtype: object

In [ ]:
import pandas as pd
data=range(9)    #creating Series object by using range and list.
data1=pd.Series(data)
print(data1)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

Create a Series from array
 1. We can pass array as an argument to the Series.
 2.  By default, index is assigned to every element.

In [ ]:
import pandas as pd
import numpy as np
values=[1,2,3,4,5]
data=np.array(values)   # creating ndarray
print(data)

[1 2 3 4 5]

In [ ]:
import pandas as pd
import numpy as np
data=[10,20,30,40,50,6,0]    #  creating ndarray and passing argument to the Series
data1=pd.Series(data)
print(data1)

0    10
1    20
2    30
3    40
4    50
5     6
6     0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
values=['j','y','o','s','h','n','a']
data=np.array(values)     # creating Series object using array
data1=pd.Series(data)
print(data1)

0    j
1    y
2    o
3    s
4    h
5    n
6    a
dtype: object

**Creating Series by column from DataFrame**:

*  If we select single column from DataFrame then it returns Series object.

  Index in Series:

  index:

* Index means, the position of value where it stores.
* By default, index is assigned to every value.
* From the output, the left most column is the index column.

 **Index default value :**

*   The default values for an index are integers.
*   The index starts from 0, 1, 2, 3, etc.

In [ ]:
# Creating Series
import pandas as pd
values=[1,2,3,4,5]
data=pd.Series(values)
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
prices = [1000, 2000, 3000, 4000]
products = ["Nokia", "Samsung", "Oppo", "iPhone 6"]
# Creating Series object and giving name and index
s = pd.Series(prices, name = 'mobiles', index = products )
print(s)

Nokia       1000
Samsung     2000
Oppo        3000
iPhone 6    4000
Name: mobiles, dtype: int64

In [ ]:
import pandas as pd
v = [56, 45, 35, 41, 44, 60]
s = pd.Series(v, name = "marks")

#   Creating Series and accessing values

print(s)
print()
print(s[0])
print(s[1])

0    56
1    45
2    35
3    41
4    44
5    60
Name: marks, dtype: int64

56
45