<a href="https://colab.research.google.com/github/829797siva/Pandas/blob/main/series_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series Methods :**

 Series is a predefined class.

 Series class having different methods.

 These methods perform operations on Series of values.

**1) sum() :**

 sum() is predefined method in Series class.

 We can access sum() method by using series object.

 This method returns the sum of all values.

In [1]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17])
print(data.sum())

87

**2) mean() :**

 mean() is predefined method in Series class.
 We can access mean() method by using series object.
 This method returns the mean of series of values.

In [2]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17])
print(data.mean())

14.5

**3) unique() :**

 unique() is predefined method in Series class.

 We can access unique() method by using series object.

 This method returns unique values from the series.

In [14]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17,17,16])
print(data.unique())

6

**4) nunique() :**

 nunique() is predefined method in Series class.

 We can access nunique() method by using series object.

 This method returns number of unique values from the series.

In [6]:
import pandas as pd
data=pd.Series([12,13,14,15,15,16,16,17,17])
print(data.nunique())

[12 13 14 15 16 17]

**5) describe() :**

 describe() is predefined method in Series class.

 We can access describe() method by using series object.

 This method returns the below values,

o count

o mean

o std

o min

o 25%

o 50%

o 75%

o max

In [8]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17,18,18,11,11,12])
print(data.describe())

count    11.000000
mean     14.272727
std       2.686667
min      11.000000
25%      12.000000
50%      14.000000
75%      16.500000
max      18.000000
dtype: float64

**6) tail() :**

 tail() is predefined method in Series class.

 We can access tail() method by using series object.

 This method returns last five values from the series.

In [9]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17,18,19,20])
print(data.tail())

4    16
5    17
6    18
7    19
8    20
dtype: int64

**7) head() :**

 head() is predefined method in Series class.

 We can access head() method by using series object.

 This method returns first five values from the series.

In [11]:
import pandas as pd
data=pd.Series([12,13,14,15,16,17,18])
print(data.head())

0    12
1    13
2    14
3    15
4    16
dtype: int64

**8) count() :**

 count() is predefined method in Series class.

 We can access count() method by using series object.

 This method returns the number of non-NAN/null values.

In [15]:
import pandas as pd
import numpy as np
data=pd.Series([12,13,14,15,16,17, np.nan,18, np.nan, np.nan])
print(data.count())

7